@use '../space-mixin' as sm;


// pseudo mixin
// allows to set content property.
// >>   @include pseudo(c 'hello') {
//          position: absolute;
//          display: block;
//      };
//
// ->   content: "hello";
//      position: absolute;
//      display: block;
@mixin pseudo($args...) {
    @include sm.new-space-mixin(
        $mixin-args: $args,
        $properties: (content),
        $properties-short-hand: (
            c: content
        )
    );

    @content;
}


// before mixin
// initialize a before pseudo element and includes
// a pseudo mixin in it
@mixin before($args...) {
    position: relative;

    &::before {
        @include pseudo($args...);
        @content;
    }
}


// after mixin
// initialize a after pseudo element and includes
// a pseudo mixin in it
@mixin after($args...) {
    position: relative;

    &::after {
        @include pseudo($args...);
        @content;
    }
}