@use 'sass:list';
@use 'sass:map';
@use '../scss2/list2';
@use '../scss2/map2';

// Simply returns whether a list contains a value
// >>   @debug is-a-keyword(
//          apple orange peach,
//          banana
//      )
//
// ->   false
@function is-a-keyword($keywords, $key) {
    @return list2.contains($keywords, $key);
}

// Converts a list of items into a map, based on keywords 
// >>   @debug (
//          (fruits apple orange colors red blue),
//          (colors fruits)
//      )
// 
// ->   (
//          fruits: (apple orange),
//          colors: (red blue)
//      )
@function list-to-map($list, $keywords) {

    $output-map: ();

    $current-keyword: null;
    $current-sub-list: ();

    @each $item in $list {
        @if is-a-keyword($keywords, $item) { // found a new keyword

            // update output map
            @if $current-keyword != null {
                $output-map: map.set(
                    $output-map, $current-keyword, $current-sub-list);
            }

            // reset
            $current-keyword: $item;
            $current-sub-list: ();

        } @else {
            $current-sub-list: list.append($current-sub-list, $item);
        }
    }
    
    // adds the last keyword found and returns the map
    @return map.set(
        $output-map, $current-keyword, $current-sub-list);
}