@use 'sass:list';
@use 'sass:meta';

// Returns a copy of the list without the $n -th element
// >>   @debug remove-nth(
//          apple pear peach,
//          2
//      )
//
// ->   (apple peach)
@function remove-nth($list, $n){
    $new-list: ();

    // negative index
    $n: if($n < 0, list.length($list) + $n + 1, $n);

    $is-bracketed: list.is-bracketed($list);
    $separator: list.separator($list);

    @for $i from 1 through list.length($list) {
        @if $i != $n {
            $new-list: list.append($new-list, list.nth($list, $i));
        }
    }

    @return list.join((), $new-list, $separator, $is-bracketed);
}

// Returns true if the list contains a specified element
// >>   @debug contains(
//          apple pear peach,
//          banana
//      )
//
// ->   false
@function contains($list, $item) {
    @return list.index($list, $item) != null;
}

// Returns the first element in a list
// >>   @debug first(
//          apple pear peach
//      )
//
// ->   apple
@function first($list) {
    @return list.nth($list, 1);
}

// Returns the second element in a list
// >>   @debug second(
//          apple pear peach
//      )
//
// ->   pear
@function second($list) {
    @return list.nth($list, 2);
}

// Returns the last element in a list
// >>   @debug last(
//          apple pear peach
//      )
//
// ->   peach
@function last($list) {
    @return list.nth($list, -1);
}

// Like first(), returns the first element in a list
// >>   @debug head(
//          apple pear peach
//      )
//
// ->   apple
@function head($list) {
    @return first($list);
}

// Returns a copy of the list without the first element
// >>   @debug tail(
//          apple pear peach
//      )
//
// ->   (pear peach)
@function tail($list) {
    @return remove-nth($list, 1);
}




// Applies a function to every element inside the list
// and return them as a new list (it has nothing to do
// with map objects)
// >>   @use 'sass:meta';
//
// >>   @debug map(
//          apple pear peach,
//          meta.get-function(quote)
//      )
//
// ->   ("apple" "pear" "peach")
@function map($list, $function) {
    $new-list: ();

    @each $item in $list {
        $new-list: list.append(
            $new-list, meta.call($function, $item));
    }

    @return $new-list;
}


// Applies a function to every element inside the list.
// If the function returns true, that element is added 
// to the new list
// >>   @use 'sass:meta';
//
// >>   @function not-an-apple($fruit) {
//          @return $fruit != apple;
//      }
//
// >>   @debug filter(
//          apple pear peach,
//          meta.get-function(not-an-apple)
//      )
//
// ->   (pear peach)
@function filter($list, $function) {
    $new-list: ();

    @each $item in $list {
        @if meta.call($function, $item) != false {
            $new-list: list.append(
                $new-list, $item);
        }
    }

    @return $new-list;
}